{% extends "layout.html" %}
{% block content %}
    <div>
        <h2>Feed Principal</h2>

        {% for post in lista_de_posts %}
            
            <article>
                <hr>
                <h3>{{ post.titulo }}</h3>   
                <small>Por: {{ post.autor.nome }}</small>                     
                <p>{{ post.conteudo }}</p>
                
                {% if post.autor == current_user %}
                    <form action="{{ url_for('editar_post', post_id=post.id) }}" method="GET" style="display: inline;">
                        <button type="submit" style="margin-right: 10px;">Editar</button>
                    </form>
                    
                    <form action="{{ url_for('apagar_post', post_id=post.id) }}" method="POST" style="display: inline;">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja apagar este post?');">
                            Apagar
                        </button>
                    </form>
                
                {% endif %}
                <hr> </article> 

        {% else %}
            <p>Nenhuma postagem encontrada. Seja o primeiro a criar uma!</p>
            {% if current_user.is_authenticated %}
                 <a href="{{ url_for('criar_post') }}">Criar Postagem</a>
            {% else %}
                 <a href="{{ url_for('login') }}">Faça login para criar uma postagem</a>
            {% endif %}

        {% endfor %}

    </div>
{% endblock content %}