{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="hero-section">
            <div class="hero-content">
                <h1>Bem-vindo ao Meu Universo</h1>
                <p>Desenvolvedor Python Full Stack | Criador | Entusiasta de Tecnologia</p>
                
                <div class="hero-buttons">
                    {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('registrar') }}" class="btn-outline">Criar Conta</a>
                        <a href="{{ url_for('login') }}" class="btn-outline">Login</a>
                    {% else %}
                        <a href="{{ url_for('criar_post') }}" class="btn-outline">Escrever Post</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <br><br>
    
        <h2>Feed Principal</h2>
       
        
        {% for post in lista_de_posts %}
            
            <article>
                <hr>
                <h3>{{ post.titulo }}</h3>   
                <small>Por: {{ post.autor.nome }} | {{ post.data_criacao.strftime('%d/%m/%Y') }}</small>                     
                <p>{{ post.conteudo }}</p>
                
                {% if post.autor == current_user %}
                    
                    <a href="{{ url_for('editar_post', post_id=post.id) }}" title="Editar">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    
                    <form action="{{ url_for('apagar_post', post_id=post.id) }}" method="POST" style="display: inline;">
                        <button type="submit" onclick="return confirm('Tem certeza?');" title="Apagar">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                
                {% endif %}
                <hr> </article> 

        {% else %}
            <p>Nenhuma postagem encontrada. Seja o primeiro a criar uma!</p>
            {% if current_user.is_authenticated %}
                 <a href="{{ url_for('criar_post') }}">Criar Postagem</a>
            {% else %}
                 <a href="{{ url_for('login') }}">Faça login para criar uma postagem</a>
            {% endif %}

        {% endfor %}

    </div>
{% endblock content %}